<html>
  <body>
	<center>
		<form id="wakeupForm"
			 action="/wakeup"
			 method="post">
		  <input type="submit" value="Wake up PC" name="submit" style="height:300px;width:300px">
		</form>
		<h1>Arduino: <%= arduinoOnline %></h1>
	</center>
  </body>
</html>